#root{
    margin: 0px !important;
    padding: 0p;

}
.latestProduct{
    /* float: left;
    margin: 2%; */
    /* width: 25% ; */
}
.latestContainer{
    padding:1% !important;
    margin:"50px";
}