#root{
    margin: 0px !important;
    padding:0px;
    /* border:2px solid !important; */
}
.popup-content{
    width:300px !important;
}

.popup-div{
    border-bottom :1px solid grey !important; 
}